
@{
    ViewBag.Title = "GetStudent";
}
<h2>GetStudent</h2>

@Scripts.Render("~/Views/Student/JavaScript.js");

<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <kendo-grid options="mainGridOptions">
            <div k-detail-template>
                <kendo-tabstrip>
                    <ul>
                        <li class="k-active">Orders</li>
                        <li>Contact information</li>
                    </ul>
                    <div>
                        <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                    </div>
                    <div>
                        <ul class="contact-info-form">
                            <li>
                                <label>Country:</label>
                                <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                                    <input type="text" class="k-input-inner" ng-model="dataItem.Country" />
                                </span>
                            <li>
                                <label>City:</label>
                                <span class="k-textbox k-input k-input-md k-rounded-md k-input-solid">
                                    <input type="text" class="k-input-inner" ng-model="dataItem.City" />
                                </span>
                            <li><label>Address:</label> {{dataItem.Address}}</li>
                            <li><label>Home phone:</label> {{dataItem.HomePhone}}</li>
                        </ul>
                    </div>
                </kendo-tabstrip>
            </div>
        </kendo-grid>


    </div>
</div>

@section Scripts
{
    <script src="~/Views/Student/JavaScript.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
}
